/*//// Fuentes ////*/

@font-face {
    font-family: "Special Elite Regular";
    src: url(fonts/specialelite-regular.woff);
}

@font-face {
    font-family: "Homemade Apple Regular";
    src: url(fonts/homemadeapple-regular.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    color: var(--negrito);
    font-family: "Special Elite Regular";
}

body{
    background-image: url(fondo/nudos.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

:root{
    --beigecito: #fafafa;
    --negrito: #1e1f21;
}

/*//// Generales ////*/

header, section, footer{
    padding: 3em 5em;
}

section{
    padding: 2.5em 5em;
}

article{
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
}

img, video{
    object-fit: cover;
    width: 100%;
}

.vision{
    width: 29em;
    margin-bottom: 1em;
}

#portfolio{
    width: 15em;
}

footer{
    margin-top: 5em;
    background-color: var(--negrito);
    text-align: center;
}

footer div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


/*//// Tipografía ////*/

h1, h2, h3{
    font-family: "Homemade Apple Regular";
    font-weight: normal;
}

h1{
    font-size: 3em;
    text-align: center;
}

h1 span{
    display: block;
}

footer p, footer a{
    color: var(--beigecito);
}

footer p{
    margin-bottom: 1em;
}

article p, article h3{
    padding-left: 0.2em;
}

.proyecto p{
    width: 35em;
    margin-bottom: 1em;
}

.sobremi h1{
    margin-bottom: 3em;
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.5s ease forwards;
}

.sobremi p{
    text-align: center;
    font-size: 1.2em;
    line-height: 2.5;
}

.cajita p{
    color: var(--beigecito);
    font-family: "Homemade Apple Regular";
    font-size: 1.4em;
}

.cajita_2 p, .cajita_2 span{
    color: var(--beigecito);
}

.sobremi span{
    font-family: "Homemade Apple Regular";
    font-size: 1.3em;
    transition: 0.3s;
}



/*//// Nvegación ////*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 1s ease forwards 4.3s;
}

nav{
    display: flex;
    gap: 1em;
}


/*//// Grilla ////*/

#grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5em;
}

#grilla article img, #grilla article video{
    height: 36em;
}

.recurso{
    overflow: hidden;
    position: relative;
}

.recurso::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--negrito);
  opacity: 0;
  transition: 0.5s;
}

#grilla article{
    position: relative;
    transform: translateY(20px);
}

#grilla article a{
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    color: var(--beigecito);
    opacity: 0;
    transition: 0.5s;
}

#grilla article:hover a{
    opacity: 1;
    transition: 0.5s;
}

#grilla article:hover .recurso::after{
    opacity: 100%;
    transition: 0.5s;
    mix-blend-mode: multiply;
}


/*//// Artículos ////*/

article div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


/*//// Proyectos ////*/

.proyecto, .sobremi{
    padding: 2.5em 20em;
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.proyecto .segundo{
    width: fit-content;
    margin-left: auto;
    margin-top: -7em;
    z-index: 10;
}

.proyecto img{
    box-shadow: 10px 10px 30px #1e1f2133;
}

.video{
    margin-top: -8em;
}


/*//// Latente ////*/

#composees{
    position: relative;
    width: 50em;
    padding-left: 20em;
}

#composees img:nth-of-type(1){
    width: 100%;
}

#composees img:nth-of-type(2), #composees img:nth-of-type(3){
    width: 18em;
    position: absolute;
}

#composees img:nth-of-type(2){
    transform: rotate(-15deg);
    top: 5em;
    right: -16em;
    z-index: 1;
}

#composees img:nth-of-type(3){
    transform: rotate(-5deg);
    bottom: -7em;
    right: -14em;
}

#mockup{
    width: 52em;
}

#variaciones{
    position: relative;
    margin-bottom: 20em;
}

#colores{
    position: absolute;
    display: flex;
    gap: 2em;
    right: 0;
    bottom: -15em;
}

#colores img{
    width: 15em;
}


/*//// Sobre mí ////*/

.sobremi:not(.sobremi:nth-of-type(1)){
    padding: 10em 20em;
}

.sobremi{
    gap: 2em;
}

.uno{
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 0.5s;
}

.cajita{
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 1s;
}

.cajita, .cajita_2{
  width: 24em;
  height: 32em;
  perspective: 2000px;
  align-self: center;
}

.cajita_2{
    align-self: flex-start;
    width: 36em;
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 5.5s;
}

#tres{
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 1s;
}

#cajita_2{
    padding-top: 0;
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 5.5s;
}

.interior{
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.cajita:hover .interior, .cajita_2:hover .interior{
  transform: rotateY(180deg);
}

.anverso, .reverso{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  overflow: hidden;
}

.anverso img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reverso{
  background: var(--negrito);
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.sobremi div:not(.cajita, .interior, .anverso, .reverso, #flex, .cajita_2){
    width: fit-content;
}

.derecha{
    margin-left: auto;
}

.centro{
    align-self: center;
}

#fondito{
    background-image: url(img/textura_2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#fondito p, #fondito span{
    color: var(--beigecito);
}

#final{
    background-image: url(img/textura_3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#final p, #final span{
    color: var(--negrito);
}

#flex{
    display: flex;
    justify-content: space-between;
}

#flex p:nth-of-type(1){
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 2s;
}

#flex p:nth-of-type(2){
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 2.5s;
}

#flex p:nth-of-type(3){
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 3s;
}

#centro{
    padding-top: 2em;
}

#bajo{
    padding-top: 10em;
}

#cuatro div:nth-of-type(1){
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 4s;
}

#cuatro div:nth-of-type(2){
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 4.5s;
}

#cuatro div:nth-of-type(3){
    opacity: 0;
    transform: translateY(2em);
    animation: aparecer 1.2s ease forwards;
    animation-delay: 5s;
}


/*//// Animaciones ////*/

@keyframes aparecer{
  to {
    opacity: 1;
    transform: translateY(0);
  }
}